// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

// Bootstrap
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/dist/bootstrap-vue';

body, #app {
  background-color: $primary;
}

.sidebar {
  flex-direction: column;
}

.logo {
  padding: 10px 0px;
  width: 100%;
  min-width: 250px;
}

.avatar {
  width: 30px;
  border-radius: 2px;
  float: right;
}

.user-dropdown {
  float: right;
}

.user-toggle {
  padding: 0px 0px;
  margin: 8px;
  color: gray;
  background-color: white;
}

.listlist {
  width: 100%;
}

.list-dropdown {
  float: right;
}

.list-toggle {
  font-family: "FontAwesome";
  font-size: 16pt;
  padding: 0px 7px;
  color: gray;
  background-color: white;
  border-width: 0px;
  border-radius: 0px;
  margin: 5px;
  background-color: transparent;
}

.dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
}

.page-header {
  margin-top: 18px;
}

.saving-status {
  padding-top:12px;
  padding-right:10px;
  font-size: 12px;
  float: right;
}

.done-planning {
  vertical-align: bottom;
}

.title-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 42px;
  -webkit-appearance: none;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: $primary;
  background-color: transparent;
  font-size: $h1-font-size;
}

.title-input:focus {
  border-radius: 3px;
  background-color: white;
}

.title-input[readonly] {
  background-color: transparent;
}

.title-label {
  margin: 5px 3px 9px;
  padding-top: 5px;
  line-height: 1.2em;
}

.dropdown-item {
  outline-color: $primary;
}

.todo-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
  -webkit-appearance: none;
  padding: 0px;
  box-sizing: border-box;
  border-color: transparent;
  flex-grow: 1;
  resize: none;
  outline-color: $primary;
  font-weight: 400;
}

.todo-input:focus {
  border-radius: 3px;
}

a {
  color: $primary
}

.sidebar .list-group-item {
  padding: 6px 12px;
}

#restoreinput {
  display: none;
}

.tab-content .card-body {
  padding: 0px;
}

.handle {
  font-size: 10pt;
  padding: 0px 5px;
  color: gray;
  border-width: 0px;
  border-radius: 0px;
  margin: 0px;
  background-color: transparent;
}

.handle:hover {
  background-color: transparent;
}

.todo-row .handle {
  color: transparent;
  cursor: default;
}

.todo-row:hover .handle {
  color: initial;
  text-decoration: none;
}

.todo-row .handle:focus {
  color: initial;
  background-color: transparent;
}

.todo-row .handle:active {
  color: initial;
  background-color: transparent;
}

.todo-row .handle:not(:disabled):active {
  color: initial;
  background-color: transparent;
}

.todo-row .show .handle {
  color: initial;
}