// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

// Bootstrap
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/bootstrap-vue/dist/bootstrap-vue';

html, body, #app {
  height: 100%;
}

.navbar {
  min-width: 220px;
  max-width: 330px;
}

.logo {
  padding: 10px 0px;
}

.avatar {
  width: 30px;
  border-radius: 2px;
  float: right;
}

.btn {
  &.btn-default {
    color: $purple-110
  }
}

.user-dropdown {
  float: right;
}

.user-toggle {
  padding: 0px;
  margin: 8px;
}

.list-dropdown {
  float: right;
}

.dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
}

.list-toggle {
  font-family: "FontAwesome";
  font-size: 20pt;
  padding: 0px 6px;
  color: gray;
  background-color: white;
}

.creds {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.list-group-item {
  color: $purple-100;
}

.page-header {
  margin-top: 22px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: white;
}

.sign-out {
  font-size: 14px;
}

.saving-status {
  padding-top:8px;
  padding-right:10px;
  font-size: 12px;
  float: right;
}

.user-info {
  margin-top: 5px;
  margin-bottom: 30px
}

.item-checkbox {
  background-color: aqua;
}

.title-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 42px;
  -webkit-appearance: none;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
  border-color: transparent;
}

.title-input:focus {
  border-radius: 3px;
  background-color: white;
}

.title-label {
  margin: 5px 3px 9px;
  padding-top: 5px;
  line-height: 1.2em;
}

.todo-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
  -webkit-appearance: none;
  padding: 0px;
  box-sizing: border-box;
  border-color: transparent;
  width: 80%;
  resize: none;
  outline-color: $brand-primary;
  font-weight: 400;
}

.todo-input:focus {
  border-radius: 3px;
}

