// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

// Bootstrap
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body, #app {
  height: 100%;
}

.logo {
  padding: 10px;
}

.avatar {
  width: 30px;
  border-radius: 2px;
  float: right;
}

.btn {
  &.btn-default {
    color: $purple-110
  }
}

.creds {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.list-group-item {
  color: $purple-100;
}

.page-header {
  margin-top: 22px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: white;
}

.sign-out {
  padding-top:8px;
  padding-right:10px;
  font-size: 12px;
}

.saving-status {
  padding-top:8px;
  padding-right:10px;
  font-size: 12px;
}

.user-info {
  margin-top: 5px;
  margin-bottom: 30px
}

.item-checkbox {
  background-color: aqua;
}

.title-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 42px;
  -webkit-appearance: none;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
  border-color: transparent;
}

.title-input:focus {
  border-radius: 3px;
  background-color: white;
}

.title-label {
  margin: 5px 3px 9px;
  padding-top: 5px;
  line-height: 1.2em;
}

.todo-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 22px;
  -webkit-appearance: none;
  padding: 0px;
  box-sizing: border-box;
  border-color: transparent;
}

.todo-input:focus {
  border-radius: 3px;
}

